<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewData["Title"] - Barker</title>

  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="~/css/site.css" />

  <script src="~/lib/jquery/dist/jquery.js"></script>

</head>
<body>

  <div class="alert alert-warning" id="status-message"></div>
  <div class="container body-content">
    @RenderBody()
    <hr>
    <footer>
      <p>&copy; 2017 - Barker</p>
    </footer>
  </div>

  <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
  <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/js/submitPost.js"></script>

</body>
</html>
