@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<BarkerUser> SignInManager

@{
  Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Barker</title>

  <environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>
</head>
<body>
  <div class="container">
    <h2>Log In</h2>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12 col-sm-push-6 col-md-push-8">
        <section>
          <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <h4>Use a local account to log in.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
              <label asp-for="Email"></label>
              <input asp-for="Email" class="form-control" />
              <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="Password"></label>
              <input asp-for="Password" class="form-control" />
              <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label asp-for="RememberMe">
                  <input asp-for="RememberMe" />
                  @Html.DisplayNameFor(m => m.RememberMe)
                </label>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default">Log in</button>
            </div>
            <div class="form-group">
              <p>
                <a asp-action="ForgotPassword">Forgot your password?</a>
              </p>
              <p>
                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
              </p>
            </div>
          </form>
        </section>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12 col-sm-pull-6 col-md-pull-4">
        <section>
          <p>Quotes</p>
        </section>
      </div>
    </div>
    <hr />
    <footer>
      <p>&copy; 2017 - Barker</p>
    </footer>
  </div>
</body>

@section Scripts {
  @await Html.PartialAsync("_ValidationScriptsPartial")
}
