@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginOrRegisterViewModel
@inject SignInManager<BarkerUser> SignInManager

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Barker</title>

  <environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
  </environment>
  <environment exclude="Development">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
  </environment>

  <link rel="stylesheet" href="~/css/login.css"/>
</head>

<body>
  <div class="container">
    <div class="row">
      
      <div class="col-md-7">
        <div class="welcome-message">
          <h2>Barker Welcome message placeholder</h2>  
        </div>
      </div>

      <div class="col-md-5 row">
        
        <!-- Login -->
        <div class="well col-md-12 col-sm-6 login-well">
          <form method="post" asp-action="Login" >
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
              <input asp-for="LoginEmail" class="form-control" placeholder="Email"/>
              <span asp-validation-for="LoginEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
              <input asp-for="LoginPassword" class="form-control" placeholder="Password" />
              <span asp-validation-for="LoginPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
              <input asp-for"LoginRememberMe" type="checkbox" />
              <label>Remember Me?</label>
              <button type="submit" class="btn btn-danger pull-right">Log in</button>
            </div>
          </form>
        </div>

        <!-- Register -->
        <div class="well col-md-12 col-sm-6 register-well">
          <h3> Register</h3>
          <hr/>
          <form method="post" asp-action="register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
              <input asp-for="RegisterName" class="form-control" placeholder="Full Name"/>
              <span asp-validation-for="RegisterName" class="text-danger"></span>
            </div>
            <div class="form-group">
              <input asp-for="RegisterUserName" class="form-control" placeholder="User Name" />
              <span asp-validation-for="RegisterUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
              <input asp-for="RegisterEmail" class="form-control" placeholder="Email"/>
              <span asp-validation-for="RegisterEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
              <input asp-for="RegisterPassword" class="form-control" placeholder="Password" />
              <span asp-validation-for="RegisterPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
              <input asp-for="RegisterConfirmPassword" class="form-control" placeholder="Confirm Password" />
              <span asp-validation-for="RegisterConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-danger pull-right">Register</button>
            </div>
          </form>
        </div>

        <!-- Create guest account -->
        <div class="well col-sm-6 col-md-12 guest-well">
          <h3>Want to test Barker out?</h3>
          <hr/>
          <a class="btn btn-warning">Create a guest account!</a>
        </div>
      </div> <!-- end -->

    </div>
    <hr />
    <footer>
      <p>&copy; 2017 - Barker</p>
    </footer>
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

@section Scripts {
  @await Html.PartialAsync("_ValidationScriptsPartial")
}
