@model Barker.Models.ProfileViewModels.HomeViewModel

@{
  ViewData["Title"] = "Home Page";
}
 
<div class="row">
<div class="col-md-3 col-sm-4 profile-card">
  <div class="profile-card-bubble"></div>
  <a href="#">
    <div class="profile-card-image-background">
      <!-- if the profile image exist, display it. otherwise display the default image -->
      <!-- <img class="profile-image" src=""> -->
    </div>
  </a>
  <div class="profile-card-info">
    <p class="profile-card-name">Chester Tester</p>
    <p class="profile-card-handle">&#64;chestTest</p>
  </div>
  <div class="row profile-card-notifications">
    <div class="col-xs-4">
      <a class="profile-card-link" href="#">
        <div>
          Barks
        </div>
        <div>
          0
        </div>
      </a>
    </div>
    <div class="col-xs-4">
      <a class="profile-card-link" href="#">
        <div>
          Following
        </div>
        <div>
          0
        </div>
      </a>
    </div>
    <div class="col-xs-4">
      <a class="profile-card-link" href="#">
        <div>
          Followers
        </div>
        <div>
          0
        </div>
      </a>
    </div>
  </div>
</div>
<div class="col-md-6 col-sm-8 feed">
  <h4>
    Something on your mind?
  </h4>
  @await Html.PartialAsync("_SubmitBarkPartial", Model.SubmitBarkVm)
  <hr>
  <!-- todo add page content -->
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor tempora sint non minima, et, harum perferendis aut velit nobis placeat libero necessitatibus soluta explicabo ab distinctio quaerat officiis eos? Odio non officiis voluptate error laborum quia. Cum odit illum optio explicabo aspernatur reiciendis, distinctio nam expedita fuga voluptatum sit soluta, consequatur ipsa porro nostrum voluptatem dolores in architecto doloremque voluptate, vel nesciunt corporis minima. Voluptatibus recusandae eligendi aliquid iure unde totam aspernatur provident, odio dignissimos quae ab. Odio hic ea nihil alias nisi sint et quam accusantium, voluptatem reprehenderit obcaecati dolorum, sunt consequatur placeat quod ex praesentium unde. Repellendus placeat, eius natus est illo laboriosam deserunt atque quod cupiditate voluptatum corporis soluta incidunt sapiente quaerat totam temporibus ipsum aliquam impedit dolore. Ratione deleniti repellat numquam corporis nobis maiores minus facere? Nesciunt quod repellat sapiente impedit accusamus, id tempora quae, ut voluptate neque voluptatum facere fugiat, eius ullam numquam asperiores maiores excepturi ratione praesentium facilis harum nobis iste! Ratione minima porro neque omnis vero odio totam accusamus reiciendis adipisci magnam aut, inventore tenetur recusandae impedit, voluptatibus corporis nobis? Dolorum beatae illum dolorem laboriosam minima aperiam eos sit, hic libero esse temporibus, veniam provident rem. Nemo saepe, inventore cum minus a delectus omnis alias, soluta deleniti aspernatur dolorum reprehenderit quia dolor quod adipisci quibusdam iste magnam repellendus eligendi doloremque, rem nobis ullam? Ipsum explicabo eum nihil aspernatur repellendus eos, sapiente, natus, voluptatem repellat tempora ut excepturi earum vitae qui dolor rerum inventore delectus dolorum quibusdam obcaecati maxime aliquid culpa nostrum accusamus? Doloribus quis libero accusantium eos consectetur maiores soluta deleniti iure? Est voluptate nostrum ullam, nemo commodi alias assumenda, voluptas blanditiis odit architecto eaque doloribus magnam voluptatum aspernatur id aut mollitia facilis rem natus ducimus at. Assumenda, animi nemo labore dignissimos quisquam totam qui officiis adipisci a iste fuga nostrum porro fugit sapiente non minima consequuntur autem? Numquam, perferendis deleniti molestias error atque assumenda officiis vero autem, harum laborum ab accusamus laboriosam tenetur explicabo mollitia officia necessitatibus culpa incidunt vel, doloribus aut pariatur aliquam natus? Optio, amet inventore et repellendus qui illum eaque voluptatem corrupti, harum laudantium suscipit modi assumenda iusto sed deleniti ipsa omnis ab maiores eveniet. Labore, cupiditate! Eveniet, quas. Deserunt repellendus minima labore, reprehenderit doloremque voluptas placeat eius architecto corporis hic cum amet harum inventore eum, nesciunt accusantium magnam dolorum perferendis sequi dignissimos repellat libero dolorem. Ut optio error, fugiat ex cumque, voluptatum itaque nihil quia suscipit voluptas quos modi earum ullam voluptatem facere nam beatae dolorum? At iste ipsa dolore sint provident ducimus a. Impedit, sit itaque dolorum fugit possimus perspiciatis quas eos hic aliquam? Magni eius totam, sed id rem iusto voluptas porro sunt dolores perferendis animi itaque deserunt necessitatibus sapiente provident omnis! Deserunt velit, reprehenderit fuga consectetur temporibus aliquid cumque natus eaque cupiditate ex iure eveniet facilis labore asperiores deleniti officia ipsa, corrupti veniam dolores est necessitatibus saepe incidunt officiis et. Provident tenetur delectus eum veniam ipsum reiciendis quo nesciunt quis? Distinctio nihil laudantium fugiat optio, deserunt ex quidem tenetur eius fugit tempore! Nam veniam eius voluptatem. Dolore explicabo assumenda dolores quas, dolorum soluta consectetur, illo, distinctio ipsa velit suscipit! Repellat rem magnam eligendi amet. Rerum, corporis repellendus facilis dolorem perferendis quam velit consequuntur mollitia odio porro quod laudantium repellat atque sed, aliquid eveniet cum ad recusandae. Beatae in nemo tempora odio ratione consequuntur quidem recusandae omnis, cumque est molestiae aliquid ducimus, corrupti sequi aut. Dolorum dolores porro libero, quasi id totam reiciendis adipisci at? Doloremque, similique. Alias, minima distinctio inventore laborum fugiat magni mollitia vel deleniti! Quis mollitia ducimus fugit a aperiam facilis ad, neque ipsum incidunt, pariatur sed et quaerat vel repellat consectetur aspernatur distinctio recusandae aut quos, quisquam vero quas tempore sit. Qui eum odio dolor error tenetur aut aspernatur molestiae. Illum nobis odio illo, sunt nam accusantium perferendis harum, nostrum aspernatur quibusdam veniam a similique blanditiis doloremque quas quis nemo eveniet suscipit non rerum. Quis vitae itaque, similique rem quasi non numquam natus necessitatibus excepturi tempora fugit, totam inventore nulla molestiae sequi maxime! Quidem incidunt voluptate, natus pariatur dolorum adipisci nemo minus, fugit quisquam repellat earum necessitatibus eos quos. Enim vitae, minima sapiente nostrum dicta, autem quae asperiores mollitia iusto error alias rerum totam sunt culpa in necessitatibus maiores nesciunt porro esse ducimus, nulla delectus suscipit laboriosam praesentium. Beatae voluptates porro illum ex totam explicabo corporis, officia vitae laboriosam voluptatem ducimus iste sunt sequi fugiat nihil unde exercitationem quasi nam. Dicta quam accusamus neque cumque excepturi, eos, non maiores quibusdam aliquid necessitatibus hic dolorum corrupti repellat velit exercitationem quae! Sunt consequuntur vel magni reiciendis numquam temporibus id, quam maiores quo? Suscipit consectetur porro ratione mollitia iste, maxime unde ex accusamus delectus optio voluptates, at natus debitis odio dolorem aliquam doloremque labore obcaecati velit nam consequuntur expedita? Ducimus iure quo quam qui asperiores eum corporis repudiandae maxime voluptatibus quibusdam. Impedit consectetur, asperiores praesentium iusto aspernatur itaque, explicabo maxime sunt doloribus ipsa soluta, sequi commodi? Deleniti, ipsam nulla rem sed soluta placeat quod voluptatem reprehenderit accusantium molestias vitae deserunt? Maiores ea officia nulla facere quis voluptatum iste excepturi esse mollitia porro nihil magnam non, hic atque aliquam eius aspernatur minus deserunt sequi! Provident dicta nihil, vero et nostrum eum possimus hic dolore debitis nobis quos velit aliquam unde autem, assumenda omnis fugit nulla iste repudiandae perferendis architecto laboriosam facere at impedit. Obcaecati, minima autem veritatis aut placeat laborum sunt voluptatibus mollitia. Quia, ratione pariatur assumenda debitis tenetur sequi magni quasi obcaecati aliquam, recusandae labore?</p>
</div>
<div class="col-md-3 col-sm-4 recommendations-box">
  <h4>
    <strong>Who to follow</strong>
  </h4>
  <div class="recommendations">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eaque iste aliquam voluptates neque obcaecati quos dolores, officia corporis. Rerum repellat quae, inventore id odit repellendus adipisci facere voluptate ullam explicabo optio maiores facilis deleniti voluptates at saepe rem aut neque aliquid quo earum eum? Veniam ipsam numquam iste aut, id officia deserunt unde vel eaque voluptatum debitis optio nisi animi mollitia ad sunt dolor amet ut non, perspiciatis dignissimos? Ipsum voluptas culpa unde pariatur nobis, magni, fuga, reiciendis aliquid quidem tenetur rerum minima inventore minus voluptatibus debitis veritatis repellendus! Laboriosam inventore aperiam tempora deleniti? Eaque beatae et quod soluta sed quam amet rerum exercitationem laboriosam, ipsum recusandae ratione natus similique nam unde veniam quia repellendus impedit dolorem culpa, placeat dignissimos? Inventore nobis laboriosam dolorem consequuntur soluta eaque ea minima blanditiis nisi quos nam architecto natus nihil, deserunt iusto ratione perferendis, illo tempora vitae deleniti tenetur quidem. Autem, libero quibusdam?</p>
  </div>
</div>
</div>
