@model IEnumerable<Barker.Models.Post>

<div id="posts-container">
  <div>
    <hr>
    <p>There does not seem to be anything here...</p>
  </div>
</div>

<script src="~/js/controllers/postController.js"></script>