@model string

<div id="posts-container">
  <div>
    <hr>
    <p>There does not seem to be anything here...</p>
  </div>
</div>

<input type="hidden" id="userName" value="@Model">
<script type="text/javascript" src="~/js/controllers/postController.js"></script>