@using Barker.Models.PostViewModels

@{
    ViewData["Title"] = "About Barker";
}
<h2>@ViewData["Title"]</h2>

@await Html.PartialAsync("_Navbar", new PostViewModel())

<div class="well">
    <p>
        Barker is meant to be a small clone of <a href="www.twitter.com">Twitter</a>
        <br>
        <br>
        Barker is a web application written in ASP.NET. Right now Barker uses:
    </p>
    <ul>
        <li>ASP.NET core 2.1</li>
        <li>Entity Framework Core</li>
        <li>PostgreSQL</li>
        <li>Bootstrap 3.3.7</li>
    </ul>
</div>
