@model Barker.Models.UserViewModels.ProfileViewModel

@{
  Layout = "_ProfileLayout.cshtml";
  ViewData["Title"] = "Home Page";
}

<hr>
<h4>@Model.UserName`s Likes:</h4>
@await Html.PartialAsync("_FeedPartial", "/Post/GetLikedPosts/" + @Model.UserName)
