<div class="panel panel-default">
    <div class="row panel-heading">
        <a class="btn btn-info col-xs-12 col-sm-3" asp-controller="Manage" asp-action="ChangeUserName">
            Change Username
        </a>
        <a class="btn btn-info col-xs-12 col-sm-3" asp-controller="Manage" asp-action="ChangePassword">
            Change Password
        </a>
        <a class="btn btn-info col-xs-12 col-sm-3" asp-controller="Manage" asp-action="UploadProfileImage">
            Upload Profile Image
        </a>
        <a class="btn btn-info col-xs-12 col-sm-3" asp-controller="Manage" asp-action="ChangeBio">
            Change Bio
        </a>
    </div>
</div>