<div class="row">
    <a asp-controller="Manage" asp-action="ChangeUserName">
        <div class="alert alert-warning col-xs-12 col-sm-4">
            Change Username
        </div>
    </a>
    <a asp-controller="Manage" asp-action="ChangePassword">
        <div class="alert alert-warning col-xs-12 col-sm-4">
            Change Password
        </div>
    </a>
    <a asp-controller="Manage" asp-action="UploadProfileImage">
        <div class="alert alert-warning col-xs-12 col-sm-4">
            Upload Profile Image
        </div>
    </a>
</div>