<div class="row">
    <a asp-controller="Manage" asp-action="ChangeUserName">
        <div class="alert alert-warning col-xs-6">
            Change Username
        </div>
    </a>
    <a asp-controller="Manage" asp-action="ChangePassword">
        <div class="alert alert-warning col-xs-6">
            Change Password
        </div>
    </a>
</div>