body {
  background-image: url('../images/login_background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h3 {
  margin-top: 0;
}

hr {
  margin: 10px 0;
  border-color: #dddddd;
  color: dddddd;
}

input {
  margin-top: 12px;
}

.guest-well {
  text-align: center;
}

.form-group {
  margin-bottom: 5px;
}

@media (max-width: 992px) {
  .register-well {
    float: right;
  }
  .login-well {
    margin-bottom: 15px;
  }
}

.welcome-message {
  color: #ffffff;
}

footer {
  color: #ffffff;
}


/* xs screens */

@media screen and (max-width: 767px) {
  .register-well {
    float: none;
    padding-bottom: 45px;
  }
  .login-well {
    margin-bottom: 20px;
  }
}